HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.properties
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/



# Ignore properties and YAML files
*.properties
*.yml
*.yaml
!.github/workflows/**/*.yml
!.github/workflows/**/*.yaml
# 테스트 설정은 인메모리 H2 + 더미값뿐이라 비밀정보가 없다. 없으면 테스트가 돌지 않으므로 추적한다.
!src/test/resources/application.yaml
!src/test/resources/application-mysql.yaml
*.pem
.env
.env.*
!.env.example

teamPost
professorImage
studentProfileImage
